* {
  box-sizing: border-box;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	font-style: inherit;
	text-align: center;
	color: rgb(0, 0, 0);
	margin-bottom: 30px;
}

p {
	padding: 15px 5px 0px 5px;
	font-style:  inherit;
	font-size: 18px;
	position: relative;
}

.section { 
	background-color: lightgray;
   	border: 2px solid black;
   	margin-top: 20px; 
   	margin-right: 20px; 
   	padding: 3px;
   	text-align: justify;
   	position: relative;
 }

span {
	font-size: 20px;
	font-style: inherit;
	width: 150px;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
	float: right; 
	top :0; 
	right: 0;
 margin: 0;
	position: absolute;
}
#p1 {
	background-color: lightblue;
}
#p2 {
	background-color: lightpink;
}
#p3 {
	background-color: lightgreen;
}
}

.row {
	width: 100%;
}


@media (min-width: 992px) {
 
  .col-lg-4 {
    width: 33.33%;
    float: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}

l
@media (max-width: 767px)  {
  
  .col-sx-12 {
  	float: left;
    width: 100%;
  }
}